# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://gpvmlgubezwevttdgcxo.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imdwdm1sZ3ViZXp3ZXZ0dGRnY3hvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjAwOTI3NTgsImV4cCI6MjA3NTY2ODc1OH0.K2alPzybJ6N4N9sXxm6JJCualIw1-epUuMtYbhbV-4A

